defaults:
  - _self_  # Goes first to override sub-configs
  - tbfm: default
  - normalizers: default
  - ae: default
  - film: default

# General settings
name: tbfm_experiment
debug: false

# TBFM lives in this space by default
latent_dim: 50
covariate_dim: 3

data:
  runway: 20
  y_len: 164   # XXX set to trial_len - runway or expect bugs
  trial_len: 184

training:
  epochs: 12001
  test_interval: 1000      # Run test/validation every N epochs
  train_set_size: 5000
  test_set_size: 2500      # We may need both because of session structure
  num_held_out_sessions: 10
  grad_clip: 1000
  bw_steps_per_bg_step: 3  # Update basis weights this many times per basis update

# Device settings
device: auto  # auto, cpu, cuda
